apiVersion: apps/v1
kind: Deployment
metadata:
  name: fleet-frontend
  namespace: fleet
spec:
  replicas: 1
  selector:
    matchLabels:
      app: fleet-frontend
  template:
    metadata:
      labels:
        app: fleet-frontend
    spec:
      containers:
      - name: fleet-frontend
        image: muhammedsafry/fleet-management-front-end:latest
        ports:
        - containerPort: 3000

