apiVersion: v1
kind: Service
metadata:
  name: fleet-frontend
  namespace: fleet
spec:
  type: NodePort
  selector:
    app: fleet-frontend
  ports:
    - port: 3000
      targetPort: 3000
      nodePort: 30080

